/*colores personalizados
:root{
    --transparent:transparent;
    --black:#000000;
    --white:#FFFFFF;
    
    --primary-900:#CD151F;
    --primary-800:#ed1c27;
    --primary-600:#595959;
    --primary-500:#ed1c27;
      
    --secondary-900:#E01B25;
    --secondary-800:#555;
    --secondary-700:#595959;
    --secondary-500:#555;
}
*/

/*LOGO:

*/

